\#[[:space:]]Image
*.bmp
*.exr
*.gif
*.pict
*.tga
*.tif
*.tiff
*.jpg
*.jpeg
*.png
*.psd
*.ai

\#[[:space:]]Fonts
*.otf
*.ttf

\#[[:space:]]Audio
*.mp3
*.wav
*.ogg
*.aif
*.aiff
*.it
*.mod
*.s3m
*.xm

\#[[:space:]]Video
*.mp4
*.mov

\#[[:space:]]ETC
*.zip
*.ttf
*.lib
*.dll
*.pdb filter=lfs diff=lfs merge=lfs -text
